bin/*
proj.android/*
proj.ios_mac/*
proj.linux/*
proj.wp8-xaml/*

cocos2d/cocos/**/*.vcxproj.user
cocos2d/cocos/platform/

**/Debug.win32/
**/Release.win32/
*.suo
proj.win32/*.sdf
proj.win32/*.opensdf
*.aps
*.vcxproj.user
*.dll
*.lib
*.so
*.a

# ignore file for debug output
Resources/debugOutput.txt

# ignore uml diagram
*.cd

